<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ng-container *ngFor="let field of fields">
    <div class="grid grid-cols-2">
      <app-input-with-validation
      *ngIf="field.type === 'input'"
      [label]="field.label"
      [_mandatory]="field.mandatory"
      [type]="field.inputType || 'text'"
      [inputCtrl]="form.controls[field.controlName] "
      [pattern]="field.pattern || ''"
      formControlName="{{ field.controlName }}"
    ></app-input-with-validation>

    </div>
  </ng-container>
  <button type="submit">Submit</button>
</form> -->
<!--
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <form [formGroup]="form">
    <ng-container *ngFor="let date of dateFields">
      <app-date
      formControlName="{{ date.controlName }}"
      ></app-date>
    </ng-container>
</form>


  <button type="submit">submit</button>
</form> -->

<!-- <div class="table-container">
  <div class="mb-6 font-semibold text-xl">Civil</div>
  <table class="table w-full">
    <thead>
      <tr>
        <th>Ref</th>
        <th>Item</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Defect</th>
        <th>Contractor (Intermass)</th>
        <th>Consultant (Mimar)</th>
        <th>Client (MAG)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Door Opening Dimensions and alignment</td>
        <td>Ready for Inspection</td>
        <td></td>
        <td>
          <button class="defect-button">Replace</button>
          <button class="defect-button">Repair</button>
          <button class="defect-button">Missing</button>
        </td>
        <td><span class="status-circle in-progress"></span> In Progress</td>
        <td><span class="status-circle in-progress"></span> In Progress</td>
        <td><span class="icon"></span></td>
      </tr>
    </tbody>
  </table>
</div> -->
<router-outlet></router-outlet>
<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ng-container *ngFor="let field of fields">
    <div class="grid grid-cols-2">
      <app-input
      *ngIf="field.type === 'input'"
      [label]="field.label"
      [_mandatory]="field.mandatory"
      [type]="field.inputType || 'text'"
      [pattern]="field.pattern ||''"
      [minDate]="calculatedMinDates[field.controlName]"
      [maxDate]="calculatedMaxDates[field.controlName]"
      formControlName="{{ field.controlName }}"

  ></app-input>
    </div>
  </ng-container>
  <button type="submit">Submit</button>
</form> -->
<!-- <app-navbar></app-navbar>
<router-outlet></router-outlet> -->
<!-- // pattern: '^[0-9]+$', -->

<!-- <app-breadcrumb></app-breadcrumb>
<router-outlet></router-outlet> -->

<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ng-container *ngFor="let field of fields">
    <div class="grid grid-cols-2">
      <app-input
        *ngIf="field.type === 'input'"
        [label]="field.label"
        [_mandatory]="field.mandatory"
        [type]="field.inputType || 'text'"
        [pattern]="field.pattern"
        formControlName="{{ field.controlName }}"
        [minDate]="minDates[field.controlName]"
        [maxDate]="null"
      ></app-input>
    </div>
  </ng-container>
  <button type="submit">Submit</button>
</form> -->

<!-- <app-navbar></app-navbar>
<router-outlet></router-outlet> -->
<!-- // pattern: '^[0-9]+$', -->

<!-- <app-breadcrumb></app-breadcrumb>
<router-outlet></router-outlet> -->

<!-- <app-navbar></app-navbar> -->

